body {
    background-image: url("backgroundmountains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family: "Poppins";
  }

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    float: left;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

table,
    th,
    td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    }

#warnatable{
    background-color: #899e9b;
}